body {
    font-family: sans-serif;
}
span {
    font-weight: bold;
}
.import {
  width: 99.5%;
  border: 0;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3) inset;
  margin-top: 20px;
  margin-bottom: 20px;
}
.part_start {
    height: 30px;
    display: inline-block;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.part_start_repeat {
    height: 30px;
    display: inline-block;
    border-left: 2px solid black;
    border-radius: 5px;
    border-right: 0;
}
.part_start_repeat::after {
   content: ":";
}
.sub_0 {
    display: inline-block;
    position: relative;
    left: -1vw;
    top: -0.1vw;
    font-size: 1.1vw;
}
.sub_1 {
    display: inline-block;
    position: relative;
    left: -1.6vw;
    top: 1vw;
    font-size: 1.1vw;
}
.part {
    font-size: 1vw;
    display: inline-block;
    background-color: black;
    color: white;
    position: relative;
    top: -2vw;
    height: 2vw;
    width: 1.2vw;
    text-align: center;
}
.coda_o {
  font-weight: normal;
  padding-left: 0.2vw;
  padding-top: 0.2vw;
  position: absolute;
  font-size: 1.3vw;
}
.coda_plus {
  display: inline-block;
  font-weight: normal;
}
.bar {
    display: inline-block;
    width: 22%;
    border-right: 2px solid black;
    padding-left: 1vw;
    font-weight: normal;
    font-size: 100px;
    font-size: 2.5vw;
    line-height: 30px;
    height: 30px;
}
.second_bar {
    display: inline-block;
    border-right: 2px solid black;
    line-height: 30px;
    height: 30px;
}
.bar_line {
    margin-bottom: 20px;
}
.tabs {
  width: 100%;
  background-color: #00bbbb;
  text-align: center;
  padding: 10px;
}
.tab {
  cursor: default;
  width: 25%;
  font-size: 50px;
  font-size: 5vh;
  display: inline-block;
  color: white;
}
.block {
  position: relative;
  font-width: normal;
  font-size: 1.5vw;
  border-left: 2px solid black;
  border-top: 2px solid black;
  top: -1.5vw;
  left: -1.15vw;
  padding-left: 0.2vw;

}
#mooche_status {
  width: 20%;
  font-size: 10px;
}
.song {
  cursor: default;
  color: #00aaaa;
  background-color: #eeffff;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.mooche_forums {
  width: 100%;
  height: 2000px;
  border: 0;
}
.song:hover {
  background-color: #00aaaa;
  color: #eeffff;
}
#content {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.3) inset;
}
#midi_player_container {
  width: 100%;
  background-color: #00bbbb;
}
.play_song_not_ready {
  display: inline-block;
  width: 10%;
  visibility: hidden;
}
.play_song {
  display: inline-block;
  width: 10%;
  background-color: #00bbbb;
  margin: 5px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7); 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
}
.song_title {
  display: inline-block;
  width: 70%;
	font-size: 26px;
  text-align: center;
  font-weight: bold;
}
.song_author {
  display: inline-block;
  width: 10%;
}
.imports_explanation {
  margin-top: 15px;
  width: 100%;
}
#drop_zone {
  visibility: hidden;
}
#playlist {
  visibility: hidden;
}
#midi_player {
	width: 50%;
}
#stop {
  display: inline-block;
  width: 10%;
  background-color: #00bbbb;
  margin: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7); 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
}
body {
  background-color: #00bbbb;
}
