body {
    font-family: sans-serif;
}
span {
    font-weight: bold;
}
.part_start {
    height: 30px;
    display: inline-block;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.part_start_repeat {
    height: 30px;
    display: inline-block;
    border-left: 2px solid black;
    border-radius: 5px;
    border-right: 0;
}
.part_start_repeat::after {
   content: ":";
}
.sub_0 {
    display: inline-block;
    position: relative;
    left: -13px;
    top: -1px;
}
.sub_1 {
    display: inline-block;
    position: relative;
    left: -20px;
    top: 10px;
}
.part {
    display: inline-block;
    background-color: black;
    color: white;
    position: relative;
    top: -20px;
}
.bar {
    display: inline-block;
    width: 23%;
    border-right: 2px solid black;
    font-size: 100px;
    padding: 5px;
    height: 30px;
}
.bar_line {
    margin-bottom: 20px;
}
.tabs {
  width: 100%;
  background-color: #00bbbb;
  text-align: center;
  padding: 10px;
}
.tab {
  cursor: default;
  width: 30%;
  font-size: 50px;
  display: inline-block;
  color: white;
}
.song {
  cursor: default;
  color: #00aaaa;
  background-color: #eeffff;
  width: 100%;
  padding: 10px;
}
.song:hover {
  background-color: #00aaaa;
  color: #eeffff;
}
#content {
  padding: 5px;
  border: 5px solid #00bbbb;
}
#midi_player {
  width: 100%;
  background-color: #00bbbb;
}
